<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
 	<link href="core/css/xclm.css" rel="stylesheet" />
  </head>
  <body>

  <div id="canvas">
	<img class="fon" src='core/img/interface.png' />  
    
	<!--buttons--> 
	<img class="btn xclmExitBtn" src="core/img/btn.png" style="border: 1px solid red !important;"/>         
	<img class="btn xclmVisitBtn" src='core/img/btn.png'  />
 	<img class="btn xclmViewBtn" src='core/img/btn.png' /> 
  	<img class="btn xclmHelpBtn" src='core/img/btn.png' />                 
 	<img class="btn xclmTestBtn" src='core/img/btn.png' /> 
    
 	<!--imgLogo--> 
	<img id="xclm_logo" class="xclmImgLogo" />       
    
    <div  class="xclmUserName">
    <p id="xclm_username"></p> 
    </div>
    
    <div  class="xclmTheme">
    <p id="xclm_title"></p> 
    </div>        
                 
  </div>

  </body>
</html>